<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[9].src%>" alt="">
  <div class="tekstdetail">
    <p>
      Michelangelo undertook the project for the tomb of Pope Julius II in 1505, and began to carve the Slaves in 1513, as part of a modified project. On the pope's death, the project changed once again, for financial reasons. Michelangelo donated the Slaves to Roberto Strozzi, who brought them to France.
    </p>
    <h4>
      Opposing emotions
    </h4>
    <p>
      The two chained slaves express entirely different emotions. The one known as the Dying Slave is superbly young and handsome, and apparently in a deep (perhaps eternal) sleep. The other, called the Rebellious Slave, is a coarser figure whose whole body seems engaged in a violent struggle. Michelangelo intended both statues for the splendid funerary monument originally planned for and by Pope Julius II — a project which was repeatedly modified during forty years of successive programs. The iconographical theme is something of a mystery; there are few clues, beyond the figure of a monkey which is roughed out beside the dying slave. Do these captive figures symbolize the subjugated provinces? Or the Arts, reduced to slavery by the pontiff's death? Perhaps they have a role to play in his eternal triumph? Should they be interpreted as enslaved passions, or (in accordance with the Platonic theme which inspired Michelangelo) do they represent the human soul, burdened by the body? An extraordinary force emanates from these tormented bodies — whose state of incompletion reinforces the impression of power.
    </p>
    <h4>
      Origin of the statues
    </h4>
    <p>
      The slaves were designed as part of the initial project for the tomb (in 1505), and Michelangelo began to carve them in 1513 when a second project was developed. A fourth, less grandiose project, elaborated after the pope's death, saw them rejected for financial reasons. Julius II, who had dreamed of a freestanding mausoleum at Saint Peter's in Rome, was buried in San Pietro in Vincoli in a wall tomb, albeit one adorned with Michelangelo's famous Moses (a contemporary of the slaves). Despite being unfinished, the two great marbles were already admired. Michelangelo donated them to the Florentine exile Roberto Strozzi, who presented them to the French king. The Slaves thus reached France during the sculptor's lifetime, and first occupied two niches at the Château d'Ecouen (constructed by the constable Anne de Montmorency) before Cardinal de Richelieu took them to his château in Poitou. The two Slaves had originally been intended to feature on the pope's tomb alongside similar figures, including the four marble Slaves in the Academy of Florence, carved (and also left incomplete) in 1531–32.
    </p>
    <h4>
      Incompletion
    </h4>
    <p>
      Were the Slaves unfinished for technical reasons? The grain of the marble on the Rebellious Slave's face and the thinness of the base beneath the figures' lower feet no doubt explain that the works were abandoned. However, non-finito was a recurrent theme with Michelangelo, who played on the opposition between the shine on the smooth, impeccable body of the Dying Slave, and the rough surface of raw marble. In his quest for absolute truth in art, he abandoned a work when he felt he could not attain his ideal. He thus left the marks of his tools (hammers, chisels, rasps, gradines and trepans) clearly visible — living traces of his tireless fight with raw material, which he worked relentlessly in his quest to liberate the figure imprisoned within.
    </p>
  </div>
</main>

<%- include ("footer");-%>
