<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[8].src%>" alt="">
  <div class="tekstdetail">
    <p>
      These two large marble sculptures representing horses restrained by grooms were commissioned in 1739 for the horse pond in the gardens of the Château de Marly. In 1743, the king chose the models exhibited in the Louvre courtyard; the marble sculptures were installed at Marly in 1745. In 1749, they were moved to Paris on the initiative of the painter David, and placed on high pedestals at the bottom of the Champs-Elysées.
    </p>
    <h4>
      A work of diverse inspiration, commissioned to replace another
    </h4>
    <p>
      The statues of Fame and Mercury, commissioned by Louis XIV from Antoine Coysevox for the horse pond at Marly, were taken to the Tuileries in 1719. Louis XV discovered the Château de Marly in 1739 and, to fill the gap left by the removal of the sculptures, commissioned two groups from Guillaume I Coustou (Coysevox's nephew). Coustou's achievement rivaled that of his deceased uncle with its technical prowess: two colossal works, sculpted from a monolithic block of Carrara marble in the record time of two years (1743-45). Many details, such as the bridle (now broken), the tousled mane, the light and floating tail, and the bearskin on the horse's back, required delicate carving. The artist was probably inspired by the antique statues of the Dioscuri with their rearing horses in front of the Quirinal Palace in Rome, and prestigious examples of such horses from French sculpture of the 18th century, such as the Horses of the Sun by the Marsy brothers (a model of which is in the Louvre). He was no doubt sensitive to the recent masterpiece by Robert Le Lorrain (c. 1737), a high-relief for the stable at the Hôtel de Rohan. Above all, he drew his inspiration from nature, studying the movements of men and horses from live models.
    </p>
    <h4>
      Emulation and innovation
    </h4>
    <p>
      The novelty of this work lies in the absence of any mythological or allegorical reference. It represents primitive nature, a struggle between two wild forces: an untamed horse and a naked man, athletic muscles straining. Coysevox's military trophies have been replaced here by reeds and rocks on an uneven ground. The powerful, thick-necked horse shows every sign of panic and anger: rearing up, tossing its head and whinnying, with dilated eyes and nostrils, and a tousled mane. The almost invincible force of nature seems about to break free again. Wherever the spectator stands, the impression of movement, strength, and violent struggle is perceptible. A moment in time has been captured, heralding something of the Romantic works of Géricault. Indeed, Victor Hugo admired "those neighing marbles [...] prancing in a cloud of gold". Coustou claimed to have sculpted (American) Indian slaves, which explains the quiver and feathered headdress that have fallen to the ground in the struggle. The reference is approximate (one groom appears to be from the West, the other African), but the sculpture prefigures Rousseau's idea of the "noble savage"
    </p>
    <h4>
      Protective transfers
    </h4>
    <p>
      From the outset, Coustou's horses were considered to be masterpieces of French sculpture and were spared the fate of the Château de Marly (destroyed during the Revolution). In 1795, on the orders of the painter David, they were taken to the Place de la Révolution (now the Place de la Concorde) at the bottom of the Champs-Elysées, to join the sculptures of Coysevox. The Marly Horses were moved to the Louvre in 1984 to be conserved, and were replaced by copies on the Place de la Concorde and at Marly.
    </p>
    <h4>
      Bibliography
    </h4>
    <p>
      Souchal François, Les Frères Coustou, Paris, 1980, p. 225-232.
    </p>
    <p>
      Les Chevaux de Marly, Musée promenade de Marly-le-Roi, Louveciennes, 1985.
    </p>
    <p>
      Bresc Geneviève et Pingeot Anne, Sculptures des jardins du Louvre, du Carrousel et des Tuileries, Éditions de la Réunion des musées nationaux, 1986, II, p.104-110.
    </p>
  </div>
</main>

<%- include ("footer");-%>
