<%- include ("header");-%>
<main class="contact">
<div class="tekstcontact">
  <div class="part1">
      <h3>Contact Us</h3>
    <a href="#"><span>I have a question about my upcoming visit.</span></a>
    <a href="#"><span>I lost something during my visit.</span></a>
    <a href="#"><span>I would like to make a complaint.</span></a>
    <a href="#"><span>I would like to provide feedback about my last visit.</span></a>
  </div>

  <div class="part2">
    <h4>Musée du Louvre</h4>
    <div class="tekst">
      <p>The Louvre is open every day (except Tuesday) from 9 a.m. to 6 p.m.</p>
      <p>Night opening until 9:45 p.m. on Wednesdays and Fridays.</p>
      <p>The museum will be open on December 24 and 31 from 9 a.m. to 5 p.m (no night opening).</p>
      <p>Closed on the following holidays: January 1, May 1, December 25.</p>
    </div>
    <div class="tekst">
      <p>Musée du Louvre, 75058 Paris - France</p>
      <p>Métro: Palais-Royal Musée du Louvre (lines 1 and 7)</p>
    </div>
    <div class="tekst">
      <p>Tel. +33 (0)1 40 20 53 17 (except Tuesday)</p>
      <p><span>info@louvre.fr</span></p>
    </div>
  </div>

  <div class="part3">
    <h4>Membership Center (Espace Adhésion) at the Louvre</h4>
    <div class="tekst">
      <p>Located between the Pyramid and the Galerie du Carrousel, allée du Grand Louvre.</p>
      <p>Open daily (except Tuesday) from 9 a.m. to 5 p.m., and 9 p.m. on Wednesdays and Fridays.</p>
      <p>Closed the first Sunday of the month from January to August.</p>
    </div>
    <div class="tekst">
      <p>Tel. + 33 (0)1 40 20 51 04</p>
      <p><span>adhesion.louvrejeunes@louvre.fr</span></p>
    </div>
  </div>

  <div class="part4">
    <h4>Visitors with disabilities</h4>
    <div class="tekst">
      <p>Tel. +33 (0)1 40 20 59 90</p>
      <p><span>handicap@louvre.fr</span></p>
    </div>
    <div class="tekst">
      <p>Alternatively you can contact:</p>
      <p><span>Information desk: +33 (0)1 40 20 53 17</span></p>
    </div>
  </div>
</div>
<img class="contactLouvre" src="https://www.louvre.fr/sites/default/files/imagecache/940x250/medias/medias_images/images/louvre-contacts-carrousel-image.jpg?1321378748" alt="">

</main>
<%- include ("footer");-%>
