<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[4].src%>" alt="">
  <div class="tekstdetail">
    <p>
      Discovered in 1698 in Golconda, India, this stone immediately attracted the interest of Thomas Pitt, the English governor of Madras. Cut in England, it was then purchased for the French Crown at the behest of the Regent Philippe d'Orléans in 1717. The Regent surpassed in beauty and weight all the diamonds known in the western world until that time. Even today, its flawless brilliance and perfect cut ensure that it is still considered the finest diamond in the world.
    </p>
    <h4>
      How the "Regent" was acquired and then cut in England
    </h4>
    <p>
      Following its discovery in India in 1698, the stone was acquired by Thomas Pitt, Governor of Fort St George in Madras, for a very high price. The diamond weighed 426 carats before it was shipped to England in 1702 to be cut. This operation took two years, from 1704 to 1706, and produced several secondary stones, which were sold to Tsar Peter the Great. Performed by a jeweler by the name of Harris, this cut is the culmination of a technique possibly invented in Venice in the early seventeenth century: the brilliant cut. In this process, the angles, formed by the facets, are of a perfect cut, reflecting the light with matchless intensity and brilliance.
    </p>
    <h4>
      The acquisition of the diamond by Philippe d'Orléans
    </h4>
    <p>
      Taking advantage of the economic prosperity that developed in France under the influence of John Law, Philippe d'Orléans, regent from 1715 to 1723, persuaded the Regency Council to purchase the diamond on 6 June 1717. At the time, The Regent outshone all known diamonds in the western world, and by 1719 it had already tripled in value. Today, it is still considered the finest diamond in the world; its color is "of the first water", that is perfectly white and practically flawless. After the Regency, the gem remained one of the most precious of the Crown's treasures and adorned all the crowned heads of France.
    </p>
    <h4>
      The "Regent" and the royal succession
    </h4>
    <p>
      The Regent was worn for the first time by Louis XV at the reception of a Turkish embassy in 1721. It was then mounted temporarily on the king's crown for his coronation ceremony on 25 October 1722. Shortly after his marriage to Maria Leczinska on 5 September 1725, Louis XV began wearing the diamond on his hat, a habit he continued throughout his reign. For the coronation of Louis XVI, on 11 June 1775, a new crown was made similar to that of Louis XV, featuring The Regent on the front. Like his grandfather, Louis XVI sported the gem on his hat. Stolen in 1792, then found again the following year hidden in some roof timbers, the diamond was used as security on several occasions by the Directoire and later the Consulat, before being permanently redeemed by Napoleon Bonaparte in 1801. The First Consul used it to embellish his sword, designed by the goldsmiths Odiot, Boutet and Nitot. In 1812 it appeared on the Emperor's two-edged sword, the work of Nitot. Following changes in the ruling regime, the diamond was mounted successively on the crowns of Louis XVIII, Charles X and Napoleon III, and finally on the Grecian diadem of Empress Eugénie.
    </p>
    <h4>
      Bibliography
    </h4>
    <p>
      MABILLE Gérard, Les Diamants de la couronne, Paris, Éditions Gallimard, Éditions de la Réunion des musées nationaux, 2001.
    </p>
  </div>
</main>

<%- include ("footer");-%>
