<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[3].src%>" alt="">
  <div class="tekstdetail">
    <h4>
      A classical composition
    </h4>
    <p>
      Titian has pictured this sensuous young Venetian woman daydreaming at her toilet, holding her rope of hair in one hand and a perfume bottle in the other. She is standing, face-on, and is wearing a green dress with shoulder straps and a loose pleated white blouse which is open, revealing her left shoulder. A bearded man in a red doublet is holding two mirrors for her, one in front and the other behind. The painting is tightly focused on the two figures, which fill the entire space. The classical layout is particularly clear thanks to the harmonious way the forms echo each other. For example, the young woman's oval face and the round mirror echo the curving lines of her unclothed arm, right sleeve, plump shoulders, and generous décolleté.
    </p>
    <h4>
      A hymn to the beauty of Venetian women
    </h4>
    <p>
      While in this work Titian is still close to his master Giorgione in the use of the mirror and the trompe-l'oeil shelf the woman's hand is resting on, he is already distancing himself from the master in his use of a rich palette of bright colors and in the subtle play of light and shade, particularly the red garment worn by the man standing in the shadows. The work, painted while Titian was still a young man, reveals his interest in painting female portraits - he produced several such between 1510 and 1520. The young woman is leaning her head slightly to one side, and this, together with her blue eyes, pale complexion, bare shoulders, and loose, wavy, blonde hair, make her an idealized representation of Venetian beauties of the early 16th century. This fashionable theme also inspired a number of other artists, including Palma, Bordoni, and Savoldo.
    </p>
  </div>
</main>

<%- include ("footer");-%>
