<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[6].src%>" alt="">
  <div class="tekstdetail">
    <p>
      This decorative frieze of polychrome glazed brick shows an army, the men carrying spears, bows and quivers. Are they the royal guards of Darius I (522–486 BC), whom Herodotus called “the Immortals,” or might they represent an idealized image of the Persian people? The frieze is probably inspired by the brick friezes of Babylon, although the technique is different. That may be a legacy from the Middle Elamite Period, which saw the appearance of decoration in glazed siliceous brick.
    </p>
    <h4>
      Archers on parade
    </h4>
    <p>
      The Frieze of Archers had two symmetrical lines of soldiers, parading at a slow march. Each archer’s hands are joined together on the shaft of his spear, and hanging from his shoulders is a bow, its ends in the form of duck’s heads, and a quiver. The butt of the spear, held vertical, rests on the front foot, shod like the other in a laced ankle-boot. The archers wear the long Persian robe, braided and pleated over the legs, the outline of whose ample sleeve describes a curve towards the belted waist. They are bearded, and their thick curly hair is massed at the nape of the neck, held back by a diadem of beaten metal. Each brick is molded from a quart-based body; its outer face is rectangular, but the brick tapers towards the back, a little like a quoin, so as to leave room for mortar when the decorated faces are butted up against each other. The frieze combines low relief and color, with glazes of green, brown, white and yellow separated by fine cloisons of siliceous body.
    </p>
    <h4>
      An inheritance from the Elamite period?
    </h4>
    <p>
      This decorative frieze was certainly inspired by the Processional Way in Babylon, constructed by Nebuchadnezar II (604–562 BC), but the technique is different. The Babylonians used clay for their bricks, rather than the siliceous material employed here. The artists who worked for Darius may have revived a technique developed at Susa by the Elamites in the Late Elamite Period at the end of the second millennium. Polychrome brick decoration in Iran would have a great future in the architecture of the Islamic age.
    </p>
    <h4>
      The Immortals?
    </h4>
    <p>
      Although the British archaeologist W. K. Loftus, the first to excavate at Susa, had identified the main lines of the apadana, he had recognized only isolated motifs, palmettes and rosettes, from its glazed brick decoration. When Marcel Dieulafoy continued his predecessor’s work he discovered enough bricks to make possible the fairly convincing reconstruction displayed at the Louvre: two panels representing a procession of archers, framed by decorative motifs and surmounted by crenellations inspired by the facades of the rock-tombs of Persepolis and Naqsh-e Rustam. The rare inscribed bricks, on which one can still make out the name of Darius, were positioned in the middle. The archers were then assembled as separate panels. While the Lion Frieze was found on the ground at its original position in the East Court of the palace, the exact location of the Frieze of Archers is unknown, countless bricks and fragments having been found more or less all over the place when the apadana was excavated. Their number does suggest a hypothesis: the archers may have been positioned at regular intervals in several registers, over the height of the wall, as at Babylon. They would then have occupied a great part of the exterior walls of the palace, extending over hundreds of metres. How should such a colossal ensemble be understood? Were these men the ‘Immortals,’ the élite regiment of 10,000 men? Or might they rather represent an ideal image, repeated to infinity, of the ‘Persian people,’ a constituent element of the unified empire brought together under the rule of the king, to whom it might have been necessary to accord a special place in the old Elamite capital of Susa?
    </p>
  </div>
</main>

<%- include ("footer");-%>
