<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[0].src%>" alt="">
  <div class="tekstdetail">
    <p>
      The Paris uprising of July 27, 28, and 29, 1830, known as the Trois Glorieuses ("Three Glorious Days"), was initiated by the liberal republicans for violation of the Constitution by the Second Restoration government. Charles X, the last Bourbon king of France, was overthrown and replaced by Louis Philippe, Duke of Orléans. Delacroix, who witnessed the uprising, perceived it as a modern subject for a painting; the resulting work reflects the same romantic fervor he had applied to Massacre at Chios, a painting inspired by the Greek war of independence.
    </p>

    <h4>
      A patriotic act
    </h4>
    <p>
      Delacroix's imagination was fired by all manner of things—the natural world, a Gothic ribbed vault, a feline, a journey, a human passion... or an event that changed the course of history and reversed artistic trends. He translated his deeply felt emotions into painting, constantly renewing his style. His emotional temperament largely explains the force of his portrayal of the recent explosion of rage on the streets of Paris.
    </p>
    <p>
      No doubt he felt a personal involvement too, through his friendship with protagonists of the conflict such as Adolphe Thiers, who wavered between maintenance of the constitutional Monarchy and restoration of the Republic. Delacroix depended on commissions from institutions and members of the royal family, and his personal ambiguity probably confined him to the role of simple bystander (noted by Alexandre Dumas), but as a citizen-artist he helped protect the Louvre's collections from the rioters and, nostalgic for the Napoleonic Empire, was moved to see the tricolor hoisted to the top of Notre-Dame by the insurgents.
    </p>
    <p>
      The time had come to fulfill his own patriotic duty. He wrote to his nephew Charles Verninac: "Three days amid gunfire and bullets, as there was fighting all around. A simple stroller like myself ran the same risk of stopping a bullet as the impromptu heroes who advanced on the enemy with pieces of iron fixed to broom handles."
    </p>
    <p>
      Delacroix began his allegorical interpretation of the Parisian epic in September 1830. His painting was completed between October and December, and exhibited at the Salon in May 1831.
    </p>
    <p>
      As was his habit, he developed his plan for the painting using preliminary sketches for every element and at every stage. He also drew from the repertory of motifs that he had compiled on a daily basis from the beginning of his career. He thus completed the work in three months, focusing on the dramatic and visual impact of the scene: the crowd breaking through the barricades to make its final assault on the enemy camp.
    </p>
    <p>
      The peak of fervor occasioned by victory is represented in a pyramidal composition; the base, strewn with corpses, resembles a pedestal supporting the image of the victors. Delacroix had used a similarly rigorous composition for his painting entitled Greece on the Ruins of Missolonghi, and a comparable structure is apparent in Géricault's Raft of the Medusa. Here, it serves to contain and balance the painter's vigorous brushwork, and the impetuous rhythm of the scene.
    </p>

    <h4>
      A Parisian revolution
    </h4>
    <p>
      The allegory of Liberty is personified by a young woman of the people wearing the Phrygian cap, her curls escaping onto her neck. Vibrant, fiery, rebellious, and victorious, she evokes the Revolution of 1789, the sans-culotte, and popular sovereignty. In her raised right hand is the red, white, and blue flag, a symbol of struggle that unfurls toward the light like a flame.
    </p>
    <p>
      Liberty wears a yellow dress reminiscent of classical drapery, held in at the waist by a belt whose ends float at her side. It has slipped below her breasts, revealing the underarm hair considered vulgar by classical artists who decreed that a goddess's skin should be smooth. The erotic realism of her nudity recalls the ancient winged victories. Her Greek profile, straight nose, generous mouth, delicate chin, and smoldering gaze are reminiscent of the woman who posed for the Women of Algiers in their Apartment. She stands noble and resolute, her body illuminated on the right, cutting a distinct figure among the men as she turns her head to spur them on to final victory. Her dark left side stands out against a plume of smoke. Her weight is on her bare left foot, visible below her dress. She may be an allegory, but this is a real battle, and she is caught up in the heat of the moment. The infantry gun with bayonet (1816 model) in her left hand gives her a contemporary look and a certain credibility.
    </p>
    <p>
      Two Parisian urchins have spontaneously joined the fight: the one on the left clings to the cobblestones, wide-eyed under his light infantry cap; the more famous figure to the right of Liberty is Gavroche, a symbol of youthful revolt against injustice and sacrifice for a noble cause. He sports the black velvet beret (or faluche) worn by students, as a symbol of rebellion, and carries an overlarge cartridge pouch slung across his shoulder. He advances right foot forward, brandishing cavalry pistols with one arm raised, a war cry on his lips as he exhorts the insurgents to fight.
    </p>
    <p>
      The fighter whose beret bears a white royalist cockade and red liberal ribbon and who carries an infantry saber (1816 model) or briquet, is recognizably a factory worker with his apron and sailor trousers. The scarf holding his pistol in place on his belly evokes the Cholet handkerchief—a rallying sign for Royalist leader Charette and the Vendeans.
    </p>
    <p>
      The kneeling figure with the top hat of a bourgeois or fashionable urbanite may be Delacroix himself, or one of his friends. He wears loose-fitting trousers and an artisan's red flannel belt, and carries a double-barreled hunting gun. The wounded man raising himself up at the sight of Liberty wears a knotted yellowish scarf, echoing the color of the heroine's dress; his peasant's smock and red flannel belt suggest the temporary workers of Paris. The blue jacket, red belt, and white shirt echo the colors of the flag.
    </p>

    <h4>
      A modern subject
    </h4>
    <p>
      "I have undertaken a modern subject, a barricade, and although I may not have fought for my country, at least I shall have painted for her. It has restored my good spirits" (letter of October 28 to his brother). The soldiers lying on the ground take up the foreground at the base of the pyramidal structure. In addition to the figure of Liberty, the corpse without trousers on the left, with arms outstretched and tunic turned up, is another mythical reference, derived from a classical nude model known as Hector—a personification of the Homeric hero. The Swiss guard lying on his back, to the right of the scene, has contemporary campaign uniform: a gray-blue greatcoat with a red decoration on the collar, white gaiters, low shoes, and a shako. A cuirassier with a white epaulette, lying face down next to him, is visible down to the waist.
    </p>
    <p>
      To the left at the back of the triangle are students (including a student of the Ecole Polytechnique with his Bonapartist cocked hat) and a detachment of grenadiers in gray greatcoats and campaign uniform.
    </p>
    <p>
      Although the right background of the painting contains elements of an urban landscape, it seems empty and distant in comparison with the pitched battle that fills the left side of the scene. The towers of Notre Dame represent liberty and Romanticism—as they did for Victor Hugo—and situate the action in Paris. Their position on the left bank of the Seine is inexact, and the houses between the Cathedral and the river are pure products of the painter's imagination. A sunset glow, mingled with the canon smoke, illuminates the baroque postures of the bodies and shines bright in the right background, creating an aura around Liberty, the young boy, and the tricolor flag.
    </p>
    <p>
      As we have already seen, the composition is given unity by the painter's particularly skilful use of color; the blue, white, and red elements have counterpoints; the white of the parallel straps across the fighters’ shoulders echoes that of the gaiters and of the shirt on the corpse to the left, while the gray tonality enhances the red of the flag.
    </p>
    <p>
      Delacroix was admired by Charles X, who purchased The Massacre at Chios and the Death of Charles the Bold. The artist's friends included the Duchesse de Berry and the Orléans family. He liked to attract attention in the circles of power and make his mark on public opinion, but was considered at that time as leader of the Romantic movement and was impassioned by liberty. His emotion during the Three Glorious Days was sincere, and was expressed to the glory of the "noble, beautiful, and great" citizens of his country.
    </p>
    <p>
      Delacroix's historical and political painting—a blend of document and symbol, actuality and fiction, reality and allegory—bears witness to the death throes of the Ancien Régime. This realistic and innovative work, a symbol of Liberty and the pictorial revolution, was rejected by the critics, who were used to more classical representations of reality. Having hailed the accession of Louis-Philippe, the work was hidden from public view during the king's reign, and only entered the Musée du Luxembourg in 1863 and the Louvre in 1874. It is now perceived as a universal work—a representation of romantic and revolutionary fervor, heir to the historical painting of the 18th century and forerunner of Picasso's Guernica in the 20th.
    </p>

    <h4>Bibliography</h4>
    <p>SERULLAZ A., POMAREDE V.,  La Liberté guidant le peuple, Louvre, Paris, 2004.</p>
    <p>Delacroix Eugène : Journal 1822 - 1863, André Joubin  éd, Paris, 1996.</p>
    <p>SERULLAZ Maurice, Delacroix, Paris, 1989.</p>
    <p>HADJINICILAOU Nicos, Actes de la Recherche en sciences sociales, n°28, juin 1979, p. 2-26.</p>
    <p>TOUSSAINT Hélène, catalogue exposition dossier, Musée du Louvre, Paris, 1982.</p>
  </div>
</main>

<%- include ("footer");-%>
