<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[2].src%>" alt="">
  <div class="tekstdetail">
    <p>
      This portrait was commissioned as a gift for Philip V of Spain. However, it was such a success at court that it was never sent to Spain. Every detail of the work is aimed at producing the quintessential image of absolute power: the nobility of the antique setting, the crimson curtain, and the solemnity of the Sun King wearing his coronation robes embroidered with the royal fleur de lys.
    </p>
    <h4>
      Louis XIV
    </h4>
    <p>
      Louis XIV (1638-1715), the son of Louis XIII and Anne of Austria, was one of France's most important monarchs. He ruled from 1643 to 1715 and was known as the Sun King. His childhood was marked by the political troubles of the Fronde, so throughout his reign he sought to maintain the unity of the kingdom at all cost, crushing any moves the aristocracy made to obtain extra power. In 1660 he married Maria Theresa of Austria. In 1661, after the death of Cardinal Mazarin, finally free of his influence, Louis XIV wielded absolute power, but was shrewd enough to surround himself with devoted and talented ministers such as Colbert, Louvois, and Vauban. The royal purse, the army, industry, and administration were all reformed and trade blossomed. Louis XIV also greatly encouraged the arts. The château of Versailles is the finest achievement of his reign.
    </p>
    <h4>
      The king's coronation robes
    </h4>
    <p>
      At the time of the portrait, Louis XIV was 63 years old. He is shown wearing his coronation robes, the royal sword at his side, and holding the royal scepter. The crown is on a stool beside him. The painting of the robes is particularly detailed and refined, if somewhat overdone, reminding the viewer of the king's greatness. Other artists from Rigaud's studio must have worked on some parts of the painting, but the king's face - painted on paper mounted on the finished canvas - was the work of Rigaud himself, who produced a lifelike yet noble portrait.
    </p>
    <h4>
      A commission for the king of Spain
    </h4>
    <p>
      Louis XIV in fact commissioned the portrait as a gift for his grandson Philip V of Spain. The painting was shown at the 1704 Salon and then became part of the Louis XIV Collection. It remained in the royal collections until after the Revolution, when in 1793 it was handed over to the Muséum Central des Arts de la République, later known as the Musée du Louvre.
    </p>
  </div>
</main>

<%- include ("footer");-%>
