<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[1].src%>" alt="">
  <div class="tekstdetail">
    <p>
      This portrait was doubtless started in Florence around 1503. It is thought to be of Lisa Gherardini, wife of a Florentine cloth merchant named Francesco del Giocondo - hence the alternative title, La Gioconda. However, Leonardo seems to have taken the completed portrait to France rather than giving it to the person who commissioned it. After his death, the painting entered François I's collection.
    </p>
    <h4>
      Lisa Gherardini, wife of Francesco Giocondo
    </h4>
    <p>
      The history of the Mona Lisa is shrouded in mystery. Among the aspects which remain unclear are the exact identity of the sitter, who commissioned the portrait, how long Leonardo worked on the painting, how long he kept it, and how it came to be in the French royal collection. The portrait may have been painted to mark one of two events - either when Francesco del Giocondo and his wife bought their own house in 1503, or when their second son, Andrea, was born in December 1502 after the death of a daughter in 1499. The delicate dark veil that covers Mona Lisa's hair is sometimes considered a mourning veil. In fact, such veils were commonly worn as a mark of virtue. Her clothing is unremarkable. Neither the yellow sleeves of her gown, nor her pleated gown, nor the scarf delicately draped round her shoulders are signs of aristocratic status.
    </p>
    <h4>
      A new artistic formula
    </h4>
    <p>
      The Mona Lisa is the earliest Italian portrait to focus so closely on the sitter in a half-length portrait. The painting is generous enough in its dimensions to include the arms and hands without them touching the frame. The portrait is painted to a realistic scale in the highly structured space where it has the fullness of volume of a sculpture in the round. The figure is shown in half-length, from the head to the waist, sitting in a chair whose arm is resting on balusters. She is resting her left arm on the arm of the chair, which is placed in front of a loggia, suggested by the parapet behind her and the two fragmentary columns framing the figure and forming a "window" looking out over the landscape. The perfection of this new artistic formula explains its immediate influence on Florentine and Lombard art of the early 16th century. Such aspects of the work as the three-quarter view of a figure against a landscape, the architectural setting, and the hands joined in the foreground were already extant in Flemish portraiture of the second half of the 15th century, particularly in the works of Hans Memling. However, the spacial coherence, the atmospheric illusionism, the monumentality, and the sheer equilibrium of the work were all new. In fact, these aspects were also new to Leonardo's work, as none of his earlier portraits display such controlled majesty.
    </p>
    <h4>
      An emblematic smile
    </h4>
    <p>
      The Mona Lisa's famous smile represents the sitter in the same way that the juniper branches represent Ginevra Benci and the ermine represents Cecilia Gallerani in their portraits, in Washington and Krakow respectively. It is a visual representation of the idea of happiness suggested by the word "gioconda" in Italian. Leonardo made this notion of happiness the central motif of the portrait: it is this notion which makes the work such an ideal. The nature of the landscape also plays a role. The middle distance, on the same level as the sitter's chest, is in warm colors. Men live in this space: there is a winding road and a bridge. This space represents the transition between the space of the sitter and the far distance, where the landscape becomes a wild and uninhabited space of rocks and water which stretches to the horizon, which Leonardo has cleverly drawn at the level of the sitter's eyes.
    </p>
    <h4>
      Bibliography
    </h4>
    <p>
      ARASSE Daniel, Léonard de Vinci,  Éditions Hazan, Paris,1997.
    </p>
    <p>
      BEGUIN Sylvie (sous la dir. de), Musée du Louvre. Hommage à Léonard de Vinci, catalogue de l'exposition, Éditions des Musées nationaux, Paris, 1952.
    </p>
    <p>
      BEGUIN Sylvie,  Léonard de Vinci au Louvre,  Éditions de la Réunion des musées nationaux, Paris, 1983.
    </p>
    <p>
      CLARK Kenneth, Léonard de Vinci, Éditions Le Livre de poche, Paris, 1967.
    </p>
    <p>
      CHASTEL André, L'illustre incomprise. Mona Lisa, collection "Art et Écrivain", Éditions Gallimard, Paris, 1988.
    </p>
    <p>
      CHASTEL André, Léonard de Vinci, Traité de la peinture, Éditions Calmann-Lévy, Paris, 2003.
    </p>
    <p>
      KEMP Martin, Leonardo Da Vinci : the marvelous Works of Nature and Man, Cambridge Mass. : Harvard University Press, 1981.
    </p>
    <p>
      MARANI Pietro C., Léonard de Vinci,  Éditions Gallimard-Electa, Paris, 1996.
    </p>
    <p>
      SCALLIEREZ Cécile, La Joconde, collection "Solo", Éditions de la Réunion des musées nationaux,  Paris, 2003, n°24.
    </p>
    <p>
      ZÖLLNER Frank, Leonardo da Vinci, Mona Lisa, Das Portrât der Lisa del Giocondo, Legende und geschichte, Francfort, 1994.
    </p>
    <p>
      ZÖLLNER Frank, NATHAN Johannes (sous la dir. de), Léonard de Vinci, 1452-1519 : tout l'oeuvre peint et graphique, Cologne, Londres, Paris, Éditions Taschen, 2003.
    </p>
  </div>
</main>

<%- include ("footer");-%>
