<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[5].src%>" alt="">
  <div class="tekstdetail">
    <p>
      Almost everyone has seen this image of the Seated Scribe. Located on the upper floor of the Department of Egyptian Antiquities, this is the most famous of unknown figures. We know nothing about the person portrayed: neither his name, nor title, nor even the exact period during which he lived. Nevertheless, this statue never fails to impress visitors discovering it for the first time.
    </p>
    <h4>
      A specific posture
    </h4>
    <p>
      TThe Louvre's scribe, known as the "Seated Scribe", is indeed sitting cross-legged, his right leg crossed in front of his left. The white kilt, stretched over his knees, serves as a support. He is holding a partially rolled papyrus scroll in his left hand. His right hand must have held a brush, now missing. The most striking aspect of this sculpture is the face, particularly the elaborately inlaid eyes: they consist of a piece of red-veined white magnesite, in which a piece of slightly truncated rock crystal was placed. The front part of the crystal was carefully polished. The back side was covered with a layer of organic material, creating the color of the iris and also probably serving as an adhesive. The entire eye was then held in the socket by two large copper clips welded on the back. A line of black paint defines the eyebrows. The hands, fingers, and fingernails are sculpted with a remarkable delicacy. His chest is broad and the nipples are marked by two wooden dowels. The statue was cleaned in 1998, although the process merely reduced the wax overpainting. This restoration brought out the well-conserved ancient polychromy.
    </p>
    <h4>
      An unknown figure
    </h4>
    <p>
      The semicircular base on which the figure sits must have originally fit into a larger base that carried his name and titles, such as the base for the statue of Prince Setka, exhibited in room 22 of the Louvre. This base is missing, and the context of the discovery does not provide any additional information. According to the archeologist Auguste Mariette, who found the work, the statue of the scribe was apparently discovered in Saqqara on 19 November 1850, to the north of the Serapeum's line of sphinxes. But the precise location is not known; unfortunately, the documents concerning these excavations were published posthumously, the excavation journals had been lost, and the archives were scattered between France and Egypt. Furthermore, the site had been pillaged and ransacked, and no information concerning the figure's identity could be provided. Some historians have tried to link it to one of the owners of the statues discovered at the same time. The most convincing of these associates the scribe to Pehernefer. Certain stylistic criteria, such as the thin lips, which was unusual, the form of the torso, and the broad chest could support this theory. The statue of Pehernefer dates from the 4th Dynasty. This is an additional argument in favor of an earlier dating for this statue, which has sometimes been dated to the 6th Dynasty. Another argument supporting this date is that "writing" scribes were mostly created in the 4th and early 5th Dynasties; after this period, most scribes were portrayed in "reading" poses.
    </p>
    <h4>
      A scribe at work
    </h4>
    <p>
      The scribe is portrayed at work, which is unusual in Egyptian statuary. Although no king was ever portrayed in this pose, it seems that it was originally used for members of the royal family, such as the king's sons or grandsons, as was the case for the sons of Didufri (4th Dynasty), who were represented in this position.
    </p>
    <h4>
      Bibliography
    </h4>
    <p>Bouquillon Anne, "La couleur et les pigments", in Techne 4, 1996, p. 55, fig. 6.</p>
    <p>Catalogue, L'Art égyptien au temps des pyramides, Paris, 1999,pp. 383-384.</p>
    <p>Ziegler Christiane, Le Scribe "accroupi", collection solo (21), Paris, 2002.</p>
    <p>Ziegler Christiane, Musée du Louvre, Département des Antiquités égyptiennes, Les Statues égyptiennes de l'Ancien Empire, Paris 1997, n 58, pp. 204-208.</p>    
  </div>
</main>

<%- include ("footer");-%>
