<%- include ("header");-%>

<main class="detail">
  <img src="<%=posts[7].src%>" alt="">
  <div class="tekstdetail">
    <p>
      Human-headed winged bulls were protective genies called shedu or lamassu, and were placed as guardians at certain gates or doorways of the city and the palace. Symbols combining man, bull, and bird, they offered protection against enemies.
    </p>
    <h4>
      A protective genie to guard the city
    </h4>
    <p>
      When in around 713 BC Sargon II founded his capital, Dur Sharrukin, present-day Khorsabad, he enclosed it, together with several palaces, within a great wall of unbaked brick pierced by seven gates. Protective genies were placed on either side of these entrances to act as guardians. They also had a strictly architectural function, as they bore some of the weight of the arch above. The excavations undertaken by Paul Botta, beginning in 1843, saw the site cleared and revealed some of the works, which were sent to the Louvre. The drawings and meticulous surveys done then by Eugène Flandin, to be complemented a decade later by the work of Victor Place, indicate the original position of these winged bulls. This one formed the left jamb of Door K in the palace.
    </p>
    <h4>
      A monumental sculpture
    </h4>
    <p>
      Carved from a single block, it stands more than 4 meters high by 4 meters wide and is a meter in depth. The head is sculpted in the round, the rest of the body in high relief. High relief was much prized in the time of Sargon II, when modeling became more marked. The head, the only human element, whose ears are those of a bull, has a man's bearded face with very precisely modeled features. The eyes are expressive, the thick eyebrows meet above a prominent nose. The kindly mouth is surmounted by a thin mustache. A curly beard covers the jaw and chin, while the hair falls down to the shoulders, framing the face. This human head wears a starred tiara, flanked by pairs of horns and topped by a row of feathers. The body, its anatomy very precisely rendered, is that of a bull: the beast has not four but five legs, so that it looks as if standing still when seen from the front, and as if walking when seen from the side. From the shoulders spring the wings of a bird of prey, only one being visible, curving above the back; broad panels of curls cover the breast, belly, back, and rump. The tail is very long and curly at the end. An inscription on two panels between the hind legs of the bull praises the ruler by rehearsing his virtues and calls down a curse on whomever should seek to harm the edifice. These bulls are motifs of Syrian inspiration and one of the characteristic features of the decoration of Assyrian palaces. They make their first appearance at Nimrud in the reign of Ashurnasirpal II, to disappear again after the reign of Ashurbanipal.
    </p>

    <h4>
      Bibliography
    </h4>
    <p>Albenda Pauline - Le palais de Sargon d'Assyrie - Paris : Recherche sur les Civilisations, 1986</p>
    <p>Longperrier A. de - Notice des antiquités assyriennes - Paris : musées Imperiaux,1854 p. 27</p>
    <p>Revue du Louvre n 5/6, 1993 p. 27</p>
  </div>
</main>

<%- include ("footer");-%>
